<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Sorting a Table with Vue</title>


	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="demo" class="container">
		<div class="form-group">
			<div class="input-group">
				<input v-model="search" class="form-control" type="search" id="search-products" placeholder="Filter products by sku, name, category, price, etc" required>
				<span class="input-group-addon" id="search-products-button" @click="search=''" ><span class="glyphicon glyphicon-remove-sign"></span></span>
			</div>
		</div>
		<form id="quantities-form">
			<table class="table table-head">
				<thead>
					<tr>
					<th v-for="column in columns">
						<a href="#" @click.self.prevent="sortBy(column.name)" :class="sortKey == column ? 'active' : null">
							{{ column.title }}
						</a>
					</th>
					</tr>
				</thead>
			</table>
			<div class="form">
				<table class="table table-striped">
					<tbody>
						<tr
						is="product-row"
						v-for="(product, index) in orderedProducts"
						:index="index"
						:sku="product.sku"
						:name="product.name"
						:price="product.price"
						:category="product.category"
						:type="product.type"
						:qty="product.qty"
						v-on:update-qty="updateQty"
						v-on:do-search="doSearch"
						></tr>
					</tbody>
				</table>

			</div>
			<table class="table table-foot">
				<tfoot>
					<tr>
					<th v-for="column in columns">
						<a href="#" @click.self.prevent="sortBy(column.name)" :class="sortKey == column ? 'active' : null">
							{{ column.title }}
						</a>
					</th>
					</tr>
				</tfoot>
			</table>

			<button type="reset" class="btn btn-primary" @click="clearQuantities()">Clear</button>
			<button type="submit" class="btn btn-primary" @click.self.prevent="addProducts()">Add Products</button>
		</form>

	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js'></script>
	<script src='https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js'></script>

	<script src="js/products.js"></script>
	<script src="js/index.js"></script>

</body>
</html>
